<template>
    <button @click.prevent="deleteItem()"><i class="fas fa-trash-alt"></i>{{ buttonText }}</button>
</template>

<script>
    export default {
        props:[
            'targetUrl',
            'parentToRemove',
            buttonText: {
                type: String,
                default: "Loading",
            },
        ],

        data() {
            return {
                transitionSpeed: 400, //ms
            }
        },

        methods:{
            deleteItem($event){
                console.debug('deleteItem method called', event);
                var clickedButton = event.target;
                swal({
                    title: "Are you sure?",
                    text: "This action cannot be undone.",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                    showCancelButton: true,
                    cancelButtonText: "No",
                    confirmButtonText: "Yes",
                })

                .then((userConfirmsDeletion) => {
                    if (userConfirmsDeletion) {
                        axios.post(this.targetUrl, {
                            _method: "DELETE",
                        })
                        .catch((error) => {
                            swal("Error", error.response.data.message, "error");
                        })
                        .then((response) => {
                            $(clickedButton).closest(this.parentToRemove).hide(this.transitionSpeed);
                            swal("Success", response.data.message, "success");
                        });
                    }
                    else{
                        e.preventDefault();
                    }

                });
            },
        },

        mounted(){
            console.debug('VueDeleteButton version 1.0.4');
        }
    }
</script>
